openapi: 3.1.0
info:
  title: mag3nt API
  version: "2026-06-04"
  description: >
    Payment infrastructure for AI agents. Issue virtual cards, pay for API access
    via x402/AP2/MPP protocols, and settle in USDC on Base.
  contact:
    name: mag3nt
    url: https://mag3nt.com
  license:
    name: Proprietary
    url: https://github.com/mag3nt-com/mag3nt-node/blob/main/LICENSE

servers:
  - url: https://mag3nt.com
    description: Production

externalDocs:
  description: mag3nt documentation
  url: https://docs.mag3nt.com

# SDK generation extensions
x-speakeasy-retries:
  strategy: backoff
  backoff:
    initialInterval: 500
    maxInterval: 60000
    maxElapsedTime: 3600000
    exponent: 1.5
  statusCodes:
    - "5XX"
    - "429"
  retryConnectionErrors: true

x-speakeasy-name-override:
  - operationId: ^list.*
    methodNameOverride: list
  - operationId: ^create.*
    methodNameOverride: create
  - operationId: ^get.*
    methodNameOverride: get

security:
  - ApiKeyAuth: []

tags:
  - name: Payments
    description: Universal outbound protocol payments
  - name: Cards
    description: Virtual payment card lifecycle
  - name: Keys
    description: Developer API key management
  - name: Funding
    description: Treasury deposits and balances
  - name: x402
    description: HTTP 402 payment protocol
  - name: AP2
    description: Agent-to-Agent Payment Protocol
  - name: MPP
    description: Micropayment Protocol with streaming
  - name: Pay Links
    description: Shareable payment URLs
  - name: Withdrawals
    description: Withdraw unspent funds back to wallet
  - name: Settlement
    description: On-chain settlement status
  - name: Webhooks
    description: Signed payment.settled notifications for sellers
  - name: Status
    description: System health and configuration

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: "API key prefixed with 'Bearer sx_live_...'"

  schemas:
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: string
          example: "Card not found"

    BalanceError:
      type: object
      required: [error, available, requested]
      properties:
        error:
          type: string
          example: "Insufficient balance"
        available:
          type: ['number', 'string']
          example: 40
        requested:
          type: ['number', 'string']
          example: 50
        network:
          type: string
          example: "eip155:8453"
        asset:
          type: string
          example: "USDC"

    Card:
      type: object
      properties:
        id:
          type: string
          example: "sx_a66a6666-1234-5678-9abc-def012345678"
        token:
          type: string
          example: "tok_3b9fe670-abcd-efgh-ijkl-mnopqrstuvwx"
        purpose:
          type: string
          example: "Research Agent"
        limit_amount:
          type: ['number', 'string']
          example: 50
        status:
          type: string
          enum: [ACTIVE, FROZEN, EXPIRED, USED, CLOSED, PENDING_FUNDING, FUNDING_FAILED]
          example: "ACTIVE"
        mcc_locks:
          type: string
          example: ""
        single_use:
          type: integer
          enum: [0, 1]
          example: 0
        expires_at:
          type: ['string', 'null']
          format: date-time
        funding_network:
          type: string
          example: "eip155:8453"
        funding_asset:
          type: string
          example: "USDC"
        wallet_address:
          type: string
          example: "0x1234...abcd"
        balance:
          type: ['number', 'string']
          example: 0
        remaining:
          type: ['number', 'string']
          example: 50
        created_at:
          type: string
          format: date-time

    ClaimResponse:
      type: object
      properties:
        success:
          type: boolean
        claimed:
          type: ['number', 'string']
        spent:
          type: ['number', 'string']
        remaining_on_card:
          type: ['number', 'string']
        card_status:
          type: string
          example: "ACTIVE"
        already_claimed:
          type: boolean

    Transaction:
      type: object
      properties:
        id:
          type: string
          example: "txn_a1b2c3d4-..."
        card_id:
          type: string
        direction:
          type: string
          enum: [sent, received]
        amount:
          type: ['number', 'string']
        merchant:
          type: string
        protocol:
          type: string
          enum: [x402, ap2, mpp]
        status:
          type: string
        card_purpose:
          type: string
        card_status:
          type: string
        tx_hash:
          type: string
        network:
          type: string
        created_at:
          type: string
          format: date-time

    ApiKey:
      type: object
      properties:
        key_hash:
          type: string
        key_hint:
          type: string
          example: "sx_live_a1b2...wxyz"
        status:
          type: string
          enum: [active, revoked]
        created_at:
          type: string
          format: date-time
        revoked_at:
          type: ['string', 'null']
          format: date-time

    Balance:
      type: object
      properties:
        total_funded:
          type: ['number', 'string']
        total_allocated:
          type: ['number', 'string']
        total_spent:
          type: ['number', 'string']
        total_withdrawn:
          type: ['number', 'string']
        available:
          type: ['number', 'string']
        network:
          type: string
        asset:
          type: string

    Withdrawal:
      type: object
      properties:
        id:
          type: string
          example: "wd_a1b2c3d4-..."
        wallet_address:
          type: string
        chain:
          type: string
          enum: [eip155, solana]
        asset:
          type: string
          example: "USDC"
        network:
          type: string
          example: "eip155:8453"
        amount:
          type: ['number', 'string']
          description: Gross amount deducted from balance (includes fee)
        fee_amount:
          type: ['number', 'string']
          description: Platform withdrawal fee
        to_address:
          type: string
        status:
          type: string
          enum: [PROCESSING, COMPLETED, FAILED]
        tx_hash:
          type: ['string', 'null']
          description: On-chain transaction hash (populated on completion)
        created_at:
          type: string
          format: date-time

    PayLink:
      type: object
      properties:
        id:
          type: string
        code:
          type: string
          example: "PL_a1b2c3d4"
        url:
          type: string
          example: "https://mag3nt.com/pay/PL_a1b2c3d4"
        amount:
          type: ['string', 'number', 'null']
        asset:
          type: string
        network:
          type: string
        memo:
          type: string
        status:
          type: string
          enum: [ACTIVE, EXPIRED, CANCELLED]
        uses:
          type: integer
        max_uses:
          type: integer
        expires_at:
          type: ['string', 'null']
          format: date-time
        qr_svg:
          type: string

    PaymentHeader:
      type: object
      properties:
        X-mag3nt-Transaction:
          type: string
        X-mag3nt-Card:
          type: string
        X-mag3nt-Amount:
          type: string
        X-mag3nt-Protocol:
          type: string
        X-mag3nt-Network:
          type: string
          description: CAIP-2 network identifier
        X-mag3nt-Environment:
          type: string
          enum: [sandbox, production]
          description: "'sandbox' for testnet networks, 'production' for mainnet"

    Webhook:
      type: object
      properties:
        id:
          type: string
          example: "wh_3b9fe670abcdef..."
        url:
          type: string
          format: uri
          example: "https://api.acme.com/hooks/mag3nt"
        description:
          type: string
          example: "Release API access on payment"
        status:
          type: string
          enum: [ACTIVE, DISABLED]
          example: "ACTIVE"
        created_at:
          type: string
          format: date-time

    WebhookSecret:
      type: object
      description: >
        Returned ONLY when a webhook is created. The secret is used to verify
        the X-mag3nt-Signature header on delivered events and cannot be
        retrieved again.
      properties:
        id:
          type: string
          example: "wh_3b9fe670abcdef..."
        url:
          type: string
          format: uri
        description:
          type: string
        status:
          type: string
          example: "ACTIVE"
        secret:
          type: string
          description: "HMAC signing secret (whsec_...). Store securely; shown once."
          example: "whsec_1a2b3c4d5e6f..."
        note:
          type: string

    PaymentSettledEvent:
      type: object
      description: >
        Body POSTed to a registered webhook when a pay link settles. Signed via
        the X-mag3nt-Signature header (t=<unix>,v1=<hex hmac-sha256 of
        `${t}.${rawBody}`>). Verify with your webhook secret before acting.
      properties:
        id:
          type: string
          example: "evt_9f8e7d..."
        type:
          type: string
          enum: [payment.settled]
          example: "payment.settled"
        created:
          type: integer
          description: Unix timestamp (seconds)
          example: 1780319099
        data:
          type: object
          properties:
            settlement_id:
              type: string
            pay_link_code:
              type: string
            protocol:
              type: string
              enum: [x402, ap2, mpp]
            mode:
              type: string
              enum: [external_protocol, protocol]
            amount:
              type: ['number', 'string']
            fee:
              type: ['number', 'string']
            net_amount:
              type: ['number', 'string']
            asset:
              type: string
              example: "USDC"
            network:
              type: string
              example: "eip155:8453"
            tx_hash:
              type: ['string', 'null']
            receipt_id:
              type: ['string', 'null']
            receiver_card_id:
              type: string
            memo:
              type: ['string', 'null']

paths:
  # ═══════════════ CARDS ═══════════════
  /api/cards:
    get:
      tags: [Cards]
      operationId: cardsList
      summary: List all cards for the authenticated wallet
      responses:
        "200":
          description: Cards list
          content:
            application/json:
              schema:
                type: object
                properties:
                  cards:
                    type: array
                    items:
                      $ref: "#/components/schemas/Card"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/issue:
    post:
      tags: [Cards]
      operationId: cardsCreate
      summary: Issue a new virtual payment card
      description: >
        Creates a card backed by your treasury balance. Provide `tx_hash` for
        UI pay-and-issue flow (card starts as PENDING_FUNDING). Omit `tx_hash`
        to allocate from pre-funded balance.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [purpose, limit_amount]
              properties:
                purpose:
                  type: string
                  description: Human-readable label for the card
                  example: "Research Agent"
                limit_amount:
                  type: ['number', 'string']
                  description: Maximum spend in USDC
                  example: 50
                network:
                  type: string
                  default: "eip155:8453"
                asset:
                  type: string
                  default: "USDC"
                tx_hash:
                  type: string
                  description: On-chain funding transaction hash (optional)
                mcc_locks:
                  type: string
                  description: Comma-separated merchant category codes
                single_use:
                  type: boolean
                  default: false
                expires_in:
                  type: number
                  description: Hours until expiry (0 = never)
            example:
              purpose: "Research Agent"
              limit_amount: 50
              network: "eip155:8453"
      responses:
        "200":
          description: Card created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  card:
                    $ref: "#/components/schemas/Card"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Insufficient balance
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BalanceError"

  /api/issue/bulk:
    post:
      tags: [Cards]
      operationId: cardsBulkCreate
      summary: Issue multiple cards in a single atomic request
      description: >
        Creates up to 1000 cards atomically. All cards are allocated from
        treasury balance in a single atomic operation. Supports idempotency via header.
      parameters:
        - name: Idempotency-Key
          in: header
          schema:
            type: string
          description: Unique key to prevent duplicate bulk operations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [cards]
              properties:
                cards:
                  type: array
                  items:
                    type: object
                    required: [purpose, limit_amount]
                    properties:
                      purpose:
                        type: string
                      limit_amount:
                        type: ['number', 'string']
                network:
                  type: string
                  default: "eip155:8453"
                asset:
                  type: string
                  default: "USDC"
      responses:
        "200":
          description: Cards created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  cards:
                    type: array
                    items:
                      $ref: "#/components/schemas/Card"
                  total_allocated:
                    type: ['number', 'string']
        "403":
          description: Insufficient balance
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BalanceError"

  /api/cards/{id}/freeze:
    post:
      tags: [Cards]
      operationId: cardsFreeze
      summary: Freeze a card to block all transactions
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Card frozen
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  card_id:
                    type: string
                  status:
                    type: string
                    example: "FROZEN"

  /api/cards/{id}/unfreeze:
    post:
      tags: [Cards]
      operationId: cardsUnfreeze
      summary: Unfreeze a previously frozen card
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Card unfrozen
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  card_id:
                    type: string
                  status:
                    type: string
                    example: "ACTIVE"

  /api/cards/{id}/claim:
    post:
      tags: [Cards]
      operationId: cardsClaim
      summary: Move card funds back to treasury
      description: >
        Sweeps unspent balance from a card into your treasury (wallet balance).
        From treasury you can withdraw off-platform via POST /api/withdraw. For
        EXPIRED cards this always performs a full sweep. For ACTIVE or FROZEN
        cards, omit `amount` to sweep all available funds, or pass `amount` for a
        partial claim — the card stays active with the remainder. Pending charges
        and mandate holds are excluded from the sweepable balance.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
                  description: Partial claim in USDC. Omit to sweep all available funds.
      responses:
        "200":
          description: Funds moved to treasury
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClaimResponse"
        "400":
          description: Invalid amount
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Card not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Balance changed during claim — retry
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/cards/{id}/close:
    post:
      tags: [Cards]
      operationId: cardsClose
      summary: Close a card
      description: >
        Soft-closes a card when it has zero remaining balance and no pending
        transactions, open payment streams, or active AP2 mandates. Sweep any
        remaining funds with POST /api/cards/{id}/claim first. Closed cards are
        hidden from the wallet UI; history remains in GET /api/transactions.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Card closed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  status:
                    type: string
                    example: "CLOSED"
                  already_closed:
                    type: boolean
        "404":
          description: Card not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Card still holds funds or has open obligations
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/cards/{id}/controls:
    patch:
      tags: [Cards]
      operationId: cardsUpdateControls
      summary: Update card spending controls
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                mcc_locks:
                  type: string
                daily_limit:
                  type: number
                max_transaction:
                  type: number
      responses:
        "200":
          description: Controls updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean

  /api/cards/{id}/transactions:
    get:
      tags: [Cards]
      operationId: cardsListTransactions
      summary: List transactions for a card
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Transactions list
          content:
            application/json:
              schema:
                type: object
                properties:
                  transactions:
                    type: array
                    items:
                      $ref: "#/components/schemas/Transaction"

  /api/transactions:
    get:
      tags: [Cards]
      operationId: transactionsListAccount
      summary: List account activity across all cards
      description: >
        Wallet-scoped activity feed spanning every card (including CLOSED).
        Returns outgoing spends and incoming protocol settlements, each tagged
        with card_purpose and card_status for attribution.
      responses:
        "200":
          description: Account activity list
          content:
            application/json:
              schema:
                type: object
                properties:
                  transactions:
                    type: array
                    items:
                      $ref: "#/components/schemas/Transaction"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # ═══════════════ KEYS ═══════════════
  /api/keys/generate:
    post:
      tags: [Keys]
      operationId: keysCreate
      summary: Generate a new API key
      description: "Returns the raw key once. Store it securely: it cannot be retrieved again."
      responses:
        "200":
          description: Key generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  api_key:
                    type: string
                    example: "sx_live_a1b2c3d4e5f6g7h8"

  /api/keys:
    get:
      tags: [Keys]
      operationId: keysList
      summary: List all API keys for the authenticated wallet
      responses:
        "200":
          description: Keys list
          content:
            application/json:
              schema:
                type: object
                properties:
                  keys:
                    type: array
                    items:
                      $ref: "#/components/schemas/ApiKey"

  /api/keys/{hash}:
    delete:
      tags: [Keys]
      operationId: keysRevoke
      summary: Revoke an API key
      parameters:
        - name: hash
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Key revoked
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean

  /api/keys/validate:
    post:
      tags: [Keys]
      operationId: keysValidate
      summary: Validate an API key
      responses:
        "200":
          description: Key valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  valid:
                    type: boolean
                  wallet_address:
                    type: string
                  authenticated_at:
                    type: string
                    format: date-time

  # ═══════════════ FUNDING ═══════════════

  /api/funding/tokens:
    get:
      tags: [Funding]
      operationId: fundingListTokens
      summary: List accepted tokens per network
      security: []
      responses:
        "200":
          description: Token registry
          content:
            application/json:
              schema:
                type: object
                properties:
                  registry:
                    type: object
                    description: Map of CAIP-2 network IDs to supported tokens
                    additionalProperties:
                      type: array
                      items:
                        type: object
                        properties:
                          symbol:
                            type: string
                            example: "USDC"
                          type:
                            type: string
                            example: "erc20"
                          decimals:
                            type: integer
                            example: 6
                          contract:
                            type: string
                            example: "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913"
                    example:
                      "eip155:8453":
                        - symbol: "USDC"
                          type: "erc20"
                          decimals: 6
                          contract: "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913"

  /api/balance:
    get:
      tags: [Funding]
      operationId: fundingGetBalance
      summary: Get treasury balance for authenticated wallet
      responses:
        "200":
          description: Balance data
          content:
            application/json:
              schema:
                type: object
                properties:
                  balances:
                    type: array
                    items:
                      $ref: "#/components/schemas/Balance"

  /api/fund/verify:
    post:
      tags: [Funding]
      operationId: fundingVerify
      summary: Verify an on-chain funding transaction
      description: >
        Submit an on-chain transaction hash to credit your treasury balance.
        The platform verifies the transaction on-chain, confirms the Transfer
        event matches the treasury address, and atomically credits your balance.
        Idempotent: re-submitting an already-confirmed tx_hash returns the
        existing balance without double-crediting.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tx_hash]
              properties:
                tx_hash:
                  type: string
                  description: On-chain transaction hash to verify
                network:
                  type: string
                  default: "eip155:8453"
                asset:
                  type: string
                  default: "USDC"
      responses:
        "200":
          description: Funding verified or pending
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  status:
                    type: string
                    enum: [confirmed, pending]
                  funded:
                    type: ['number', 'string']
                    description: Amount credited from this transaction
                  balance:
                    $ref: "#/components/schemas/Balance"
        "400":
          description: Missing tx_hash or no matching transfer found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/cards/{id}/fund:
    post:
      tags: [Cards]
      operationId: cardsTopUp
      summary: Add funds to an existing card from treasury balance
      description: >
        Top up an ACTIVE card by allocating additional USDC from your treasury
        balance. The allocation is atomic: insufficient balance returns 403.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount]
              properties:
                amount:
                  type: ['number', 'string']
                  description: Amount in USDC to add
                  example: 25
      responses:
        "200":
          description: Card topped up
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  card_id:
                    type: string
                  added:
                    type: ['number', 'string']
                  new_limit:
                    type: ['number', 'string']
        "403":
          description: Insufficient treasury balance
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BalanceError"
        "404":
          description: Card not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/wallet/balance:
    get:
      tags: [Funding]
      operationId: fundingGetWalletBalance
      summary: Get on-chain token balance for a wallet address
      description: >
        Queries the blockchain directly to return the real-time token balance
        for a given wallet address on a specific network. Supports EVM and Solana.
      parameters:
        - name: network
          in: query
          required: true
          schema:
            type: string
          example: "eip155:8453"
        - name: asset
          in: query
          required: true
          schema:
            type: string
          example: "USDC"
        - name: address
          in: query
          schema:
            type: string
          description: Wallet address (defaults to authenticated wallet)
      responses:
        "200":
          description: On-chain balance
          content:
            application/json:
              schema:
                type: object
                properties:
                  network:
                    type: string
                  asset:
                    type: string
                  address:
                    type: string
                  balance:
                    type: number
                    description: Token balance in human units (e.g., 42.50 USDC)

  # ═══════════════ WITHDRAWALS ═══════════════

  /api/withdraw:
    post:
      tags: [Withdrawals]
      operationId: withdrawalsCreate
      summary: Withdraw unspent funds back to your wallet
      description: >
        Initiates a withdrawal of USDC from your treasury balance to an on-chain
        wallet address. A flat network fee is deducted from the requested amount.
        The net amount is sent on-chain via CDP; the fee is retained as platform
        revenue. Withdrawals are processed asynchronously: check status via
        GET /api/withdrawals.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount, network, asset]
              properties:
                amount:
                  type: ['number', 'string']
                  description: Gross amount to withdraw (fee is deducted from this)
                  example: 50
                network:
                  type: string
                  description: CAIP-2 network to withdraw on
                  example: "eip155:8453"
                asset:
                  type: string
                  example: "USDC"
                to_address:
                  type: string
                  description: Destination wallet address (defaults to authenticated wallet)
            example:
              amount: 50
              network: "eip155:8453"
              asset: "USDC"
      responses:
        "200":
          description: Withdrawal initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  withdrawal_id:
                    type: string
                  amount:
                    type: ['number', 'string']
                    description: Gross amount deducted from balance
                  withdrawal_fee:
                    type: ['number', 'string']
                    description: Flat network fee retained by platform
                  net_amount:
                    type: ['number', 'string']
                    description: Amount sent on-chain (amount - fee)
                  status:
                    type: string
                    example: "PROCESSING"
                  balance:
                    $ref: "#/components/schemas/Balance"
              example:
                success: true
                withdrawal_id: "wd_abc123"
                amount: 50
                withdrawal_fee: 0.50
                net_amount: 49.50
                status: "PROCESSING"
        "400":
          description: Missing fields or amount too small to cover fee
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  withdrawal_fee:
                    type: ['number', 'string']
                  minimum_withdrawal:
                    type: ['number', 'string']
                  network:
                    type: string
        "403":
          description: Insufficient balance
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  available:
                    type: ['number', 'string']
                  requested:
                    type: ['number', 'string']
                  withdrawal_fee:
                    type: ['number', 'string']

  /api/withdrawals:
    get:
      tags: [Withdrawals]
      operationId: withdrawalsList
      summary: List withdrawal history
      description: Returns up to 50 most recent withdrawals for the authenticated wallet.
      parameters:
        - name: id
          in: query
          schema:
            type: string
          description: Look up a single withdrawal by ID
        - name: status
          in: query
          schema:
            type: string
            enum: [PROCESSING, COMPLETED, FAILED]
          description: Filter by status
      responses:
        "200":
          description: Withdrawals list
          content:
            application/json:
              schema:
                type: object
                properties:
                  withdrawals:
                    type: array
                    items:
                      $ref: "#/components/schemas/Withdrawal"

  # ═══════════════ PAYMENTS ═══════════════
  /api/pay:
    post:
      tags: [Payments]
      operationId: paymentsExecute
      summary: Execute a universal outbound payment
      description: >
        Enables any mag3nt card to pay any external x402, MPP, or AP2
        endpoint in a single HTTP call. The engine automatically probes the
        target URL, detects the protocol, and settles on-chain.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [card_id, card_token, url]
              properties:
                card_id:
                  type: string
                  description: Card identifier (sx_...)
                card_token:
                  type: string
                  description: Card secret token (tok_...)
                url:
                  type: string
                  description: The external payment-protected URL to pay
                method:
                  type: string
                  default: POST
                  description: HTTP method to use when probing the URL
                body:
                  type: object
                  description: JSON request body to trigger a priced challenge
                headers:
                  type: object
                  description: Optional headers for the probe request
            example:
              card_id: "sx_a66a6666-..."
              card_token: "tok_3b9fe670-..."
              url: "https://api.weather.com/forecast"
      responses:
        "200":
          description: Payment successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  transaction_id:
                    type: string
                  amount_debited:
                    type: number
                  merchant_amount:
                    type: number
                  platform_fee:
                    type: number
                  token:
                    type: string
                  network:
                    type: string
                  protocol:
                    type: string
                  settlement:
                    type: object
                    properties:
                      status:
                        type: string
                      tx_hash:
                        type: string
        "400":
          description: Invalid request
        "403":
          description: Insufficient balance or card inactive
        "410":
          description: Endpoint removed or resource gone
        "422":
          description: No payable option offered by merchant

  # ═══════════════ x402 ═══════════════
  /api/x402/pay:
    post:
      tags: [x402]
      operationId: x402Pay
      summary: (Removed) Pay for a service via x402 protocol
      deprecated: true
      description: >
        This proprietary push endpoint has been removed. Use POST /api/pay
        with { card_id, card_token, url } instead. It automatically detects
        x402 and settles on-chain.
      responses:
        "410":
          description: Endpoint removed. Migrate to /api/pay.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  migrate_to:
                    type: string
              example:
                error: "Removed. Use POST /api/pay instead."
                migrate_to: "/api/pay"

  /api/x402/discover:
    get:
      tags: [x402]
      operationId: x402Discover
      summary: Discover x402 payment requirements for a URL
      parameters:
        - name: url
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Discovery result
          content:
            application/json:
              schema:
                type: object
                properties:
                  supports_x402:
                    type: boolean
                  payment_address:
                    type: string
                  amount:
                    type: ['number', 'string']
                  asset:
                    type: string

  /api/x402/receive:
    post:
      tags: [x402]
      operationId: x402Receive
      summary: Verify and accept an x402 payment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                payment_header:
                  type: object
                resource_url:
                  type: string
      responses:
        "200":
          description: Payment verified
          content:
            application/json:
              schema:
                type: object
                properties:
                  verified:
                    type: boolean
                  resource:
                    type: string

  # ═══════════════ STATUS ═══════════════
  /api/status:
    get:
      tags: [Status]
      operationId: statusGet
      summary: Get platform status, supported protocols, and capabilities
      security: []
      responses:
        "200":
          description: Platform status and protocol manifest
          content:
            application/json:
              schema:
                type: object
                properties:
                  platform:
                    type: string
                    example: "mag3nt"
                  version:
                    type: string
                    example: "0.5.0"
                  model:
                    type: string
                    example: "bidirectional"
                  protocols:
                    type: object
                    properties:
                      x402:
                        type: object
                        properties:
                          status:
                            type: string
                          direction:
                            type: string
                          spend:
                            type: string
                            example: "/api/pay"
                          receive:
                            type: string
                          discovery:
                            type: string
                          networks:
                            type: array
                            items:
                              type: string
                          schemes:
                            type: array
                            items:
                              type: string
                      ap2:
                        type: object
                        properties:
                          status:
                            type: string
                          direction:
                            type: string
                          spend:
                            type: string
                          receive:
                            type: string
                      mpp:
                        type: object
                        properties:
                          status:
                            type: string
                          direction:
                            type: string
                          spend:
                            type: string
                            example: "/api/pay"
                          receive:
                            type: string
                          capabilities:
                            type: array
                            items:
                              type: string
                      settlement:
                        type: object
                        properties:
                          status:
                            type: string
                          fee_model:
                            type: string
                          engine:
                            type: string
                          supported_networks:
                            type: array
                            items:
                              type: string
                  card_controls:
                    type: object
                    properties:
                      mcc_locks:
                        type: boolean
                      single_use:
                        type: boolean
                      freeze_unfreeze:
                        type: boolean
                      spending_limits:
                        type: boolean

  /api/config:
    get:
      tags: [Status]
      operationId: statusGetConfig
      summary: Get treasury addresses and token registry
      security: []
      responses:
        "200":
          description: Configuration
          content:
            application/json:
              schema:
                type: object
                properties:
                  treasury:
                    type: object
                    properties:
                      evm:
                        type: string
                      solana:
                        type: string
                  tokens:
                    type: object

  # ═══════════════ AP2 ═══════════════
  /api/ap2/agent-card:
    get:
      tags: [AP2]
      operationId: ap2GetAgentCard
      summary: Get the default agent card for AP2 payments
      responses:
        "200":
          description: Agent card
          content:
            application/json:
              schema:
                type: object
                properties:
                  agent_card:
                    $ref: "#/components/schemas/Card"

  /api/ap2/payment-methods:
    post:
      tags: [AP2]
      operationId: ap2ListPaymentMethods
      summary: List available payment methods for AP2
      responses:
        "200":
          description: Payment methods
          content:
            application/json:
              schema:
                type: object
                properties:
                  methods:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        card_id:
                          type: string
                        available:
                          type: ['number', 'string']

  /api/ap2/mandate:
    post:
      tags: [AP2]
      operationId: ap2CreateMandate
      summary: Create a spending mandate for recurring AP2 payments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [card_id, card_token, amount, merchant]
              properties:
                card_id:
                  type: string
                card_token:
                  type: string
                amount:
                  type: ['number', 'string']
                merchant:
                  type: string
                max_amount:
                  type: ['number', 'string']
                expires_at:
                  type: string
                  format: date-time
      responses:
        "200":
          description: Mandate created
          content:
            application/json:
              schema:
                type: object
                properties:
                  mandate_id:
                    type: string
                  type:
                    type: string
                  contents:
                    type: object
                  merchant_signature:
                    type: string
                  ttl:
                    type: string
                  protocol:
                    type: string

  /api/ap2/execute:
    post:
      tags: [AP2]
      operationId: ap2Execute
      summary: Execute a payment against an AP2 mandate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [card_id, card_token, amount]
              properties:
                card_id:
                  type: string
                card_token:
                  type: string
                amount:
                  type: ['number', 'string']
                mandate_id:
                  type: string
      responses:
        "200":
          description: Payment executed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  transaction_id:
                    type: string

  /api/ap2/mandates/{card_id}:
    get:
      tags: [AP2]
      operationId: ap2ListMandates
      summary: List mandates for a card
      parameters:
        - name: card_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Mandates list
          content:
            application/json:
              schema:
                type: object
                properties:
                  mandates:
                    type: array
                    items:
                      type: object
                      properties:
                        mandate_id:
                          type: string
                        merchant:
                          type: string
                        amount:
                          type: ['number', 'string']
                        status:
                          type: string

  /api/ap2/settle:
    post:
      tags: [AP2]
      operationId: ap2Settle
      summary: Settle a pay link with a closed AP2 Payment Mandate
      description: >
        Settles a mag3nt pay link by consuming a closed AP2 Payment Mandate
        (`mandate.payment.1`). The mandate is verified for signature, expiry,
        and payee scoping against the link; if an open mandate is supplied, the
        open→closed chain is re-verified. The payer card named by the mandate is
        authenticated via its card token, then the payer card is debited and the
        link credited atomically. Idempotent on the mandate `jti` (replay-safe).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [pay_link_code, closed_mandate, card_token]
              properties:
                pay_link_code:
                  type: string
                  description: Code of the pay link being settled.
                  example: "pl_a1b2c3d4"
                closed_mandate:
                  type: string
                  description: Closed AP2 Payment Mandate (mandate.payment.1) as an SD-JWT.
                open_mandate:
                  type: string
                  description: Optional open AP2 mandate; when present the open→closed chain is re-verified.
                card_token:
                  type: string
                  description: Token of the payer card named by the mandate (authorizes the debit).
      responses:
        "201":
          description: Settlement complete
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: SETTLED, or ALREADY_SETTLED on idempotent replay.
                    example: "SETTLED"
                  protocol:
                    type: string
                    example: "ap2"
                  settlement_id:
                    type: string
                  mandate_id:
                    type: string
                    description: The mandate jti the settlement is keyed on.
                  pay_link_code:
                    type: string
                  amount:
                    type: ['number', 'string']
                  fee:
                    type: ['number', 'string']
                  net_amount:
                    type: ['number', 'string']
                  tx_hash:
                    type: ['string', 'null']
                  payee:
                    type: string
        "200":
          description: Mandate already settled (idempotent replay)
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "ALREADY_SETTLED"
        "400":
          description: Missing required fields, or the link does not accept AP2
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Invalid card token for the mandate payer card
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Pay link or payer card not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Invalid or out-of-scope mandate, or settlement rejected
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # ═══════════════ MPP ═══════════════
  /api/mpp/pay:
    post:
      tags: [MPP]
      operationId: mppPay
      summary: (Removed) Make a micropayment via MPP protocol
      deprecated: true
      description: >
        This proprietary push endpoint has been removed. Use POST /api/pay
        with { card_id, card_token, url } instead. It automatically decodes
        the MPP challenge and settles on-chain.
      responses:
        "410":
          description: Endpoint removed. Migrate to /api/pay.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  migrate_to:
                    type: string
              example:
                error: "Removed. Use POST /api/pay instead."
                migrate_to: "/api/pay"

  /api/mpp/session:
    post:
      tags: [MPP]
      operationId: mppCreateSession
      summary: Create an MPP payment session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [card_id, card_token, merchant]
              properties:
                card_id:
                  type: string
                card_token:
                  type: string
                merchant:
                  type: string
      responses:
        "200":
          description: Session created
          content:
            application/json:
              schema:
                type: object
                properties:
                  session_id:
                    type: string

  /api/mpp/discover:
    get:
      tags: [MPP]
      operationId: mppDiscover
      summary: Discover MPP capabilities for a URL
      parameters:
        - name: url
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Discovery result
          content:
            application/json:
              schema:
                type: object
                properties:
                  supports_mpp:
                    type: boolean
                  capabilities:
                    type: object

  /api/mpp/receive:
    post:
      tags: [MPP]
      operationId: mppReceive
      summary: Verify and accept an MPP payment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                payment_data:
                  type: object
      responses:
        "200":
          description: Payment verified
          content:
            application/json:
              schema:
                type: object
                properties:
                  verified:
                    type: boolean

  /api/mpp/stream/open:
    post:
      tags: [MPP]
      operationId: mppStreamsOpen
      summary: Open a payment stream for continuous micropayments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [card_id, card_token, budget, tick_amount]
              properties:
                card_id:
                  type: string
                card_token:
                  type: string
                budget:
                  type: ['number', 'string']
                  description: Total budget for the stream in USDC
                tick_amount:
                  type: ['number', 'string']
                  description: Amount per tick
                receiver_card_id:
                  type: string
      responses:
        "200":
          description: Stream opened
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  card_id:
                    type: string
                  budget:
                    type: ['number', 'string']
                  tick_amount:
                    type: ['number', 'string']
                  total_ticked:
                    type: ['number', 'string']
                  status:
                    type: string
                  receiver_card_id:
                    type: string

  /api/mpp/stream/tick:
    post:
      tags: [MPP]
      operationId: mppStreamsTick
      summary: Advance a payment stream by one tick
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [stream_id, card_id, card_token]
              properties:
                stream_id:
                  type: string
                card_id:
                  type: string
                card_token:
                  type: string
      responses:
        "200":
          description: Tick processed
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_ticked:
                    type: ['number', 'string']
                  remaining:
                    type: ['number', 'string']

  /api/mpp/stream/close:
    post:
      tags: [MPP]
      operationId: mppStreamsClose
      summary: Close a payment stream
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [stream_id]
              properties:
                stream_id:
                  type: string
      responses:
        "200":
          description: Stream closed
          content:
            application/json:
              schema:
                type: object
                properties:
                  final_amount:
                    type: ['number', 'string']
                  status:
                    type: string

  /api/mpp/stream/{id}:
    get:
      tags: [MPP]
      operationId: mppStreamsGet
      summary: Get payment stream details
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Stream details
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  card_id:
                    type: string
                  budget:
                    type: ['number', 'string']
                  tick_amount:
                    type: ['number', 'string']
                  total_ticked:
                    type: ['number', 'string']
                  status:
                    type: string

  # ═══════════════ PAY LINKS ═══════════════
  /api/paylinks:
    post:
      tags: [Pay Links]
      operationId: payLinksCreate
      summary: Create a shareable payment link
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [card_id]
              properties:
                card_id:
                  type: string
                amount:
                  type: ['string', 'number', 'null']
                  description: Fixed amount (null for open-amount)
                memo:
                  type: string
                accepted_protocols:
                  type: array
                  items:
                    type: string
                type:
                  type: string
                  enum: [SINGLE, RECURRING]
                  default: SINGLE
                  description: SINGLE for one-time, RECURRING for multi-use
                max_uses:
                  type: integer
                  default: 1
                expires_in:
                  type: number
                  description: Hours until expiry
      responses:
        "200":
          description: Pay link created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayLink"
    get:
      tags: [Pay Links]
      operationId: payLinksList
      summary: List pay links for authenticated wallet
      responses:
        "200":
          description: Pay links list
          content:
            application/json:
              schema:
                type: object
                properties:
                  links:
                    type: array
                    items:
                      $ref: "#/components/schemas/PayLink"

  /api/paylinks/{code}:
    get:
      tags: [Pay Links]
      operationId: payLinksGet
      summary: Get public pay link details
      security: []
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Pay link details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayLink"
    delete:
      tags: [Pay Links]
      operationId: payLinksCancel
      summary: Cancel a pay link
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Cancelled
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean

  /api/paylinks/{code}/status:
    get:
      tags: [Pay Links]
      operationId: payLinksGetStatus
      summary: Check pay link payment status
      security: []
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Status
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  confirmed_at:
                    type: ['string', 'null']
                    format: date-time
        "404":
          description: Status not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "410":
          description: Pay link has been used
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "USED"
                  error:
                    type: string
                    example: "This payment link has been used"

  /api/pay/{code}/resolve:
    get:
      tags: [Pay Links]
      operationId: payLinksResolve
      summary: Resolve a pay link for payment processing
      security: []
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Resolved data
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    enum: [receive, merchant]

  /api/pay/{code}/prepare:
    get:
      tags: [Pay Links]
      operationId: payLinksPrepare
      summary: Prepare payment intent for a pay link
      security: []
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Payment intent
          content:
            application/json:
              schema:
                type: object
                properties:
                  intent:
                    type: string
                  accepted_protocols:
                    type: array
                    items:
                      type: string
                  treasury_address:
                    type: string
                  token_contract:
                    type: string

  /api/pay/{code}/settle:
    post:
      tags: [Pay Links]
      operationId: payLinksSettle
      summary: Settle a pay link payment
      security: []
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  properties:
                    protocol:
                      type: string
                    payer_card_id:
                      type: string
                    payer_card_token:
                      type: string
                - type: object
                  properties:
                    tx_hash:
                      type: string
                    from_address:
                      type: string
                    amount:
                      type: ['number', 'string']
      responses:
        "200":
          description: Settlement processed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  transaction_id:
                    type: string

  # ═══════════════ SETTLEMENT ═══════════════
  /api/settlement/status/{txn_id}:
    get:
      tags: [Settlement]
      operationId: settlementGetStatus
      summary: Check settlement status for a transaction
      parameters:
        - name: txn_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Settlement status
          content:
            application/json:
              schema:
                type: object
                properties:
                  transaction_id:
                    type: string
                  status:
                    type: string
                  tx_hash:
                    type: ['string', 'null']
                  settled_at:
                    type: ['string', 'null']
                    format: date-time

  # ═══════════════ WEBHOOKS ═══════════════
  /api/webhooks:
    post:
      tags: [Webhooks]
      operationId: webhooksCreate
      summary: Register a webhook endpoint
      description: >
        Register an HTTPS endpoint to receive signed `payment.settled` events
        when your pay links settle. The signing secret is returned ONCE in this
        response and cannot be retrieved again. Use it to verify the
        X-mag3nt-Signature header on each delivery. Max 5 active webhooks per
        wallet. URLs must be https and may not target private/loopback hosts.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url]
              properties:
                url:
                  type: string
                  format: uri
                  description: HTTPS endpoint that will receive events
                  example: "https://api.acme.com/hooks/mag3nt"
                description:
                  type: string
                  description: Optional label for this webhook
      responses:
        "200":
          description: Webhook registered (secret shown once)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookSecret"
        "400":
          description: Invalid or disallowed URL, or webhook limit reached
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    get:
      tags: [Webhooks]
      operationId: webhooksList
      summary: List registered webhooks
      description: Returns all webhooks for the authenticated wallet. Secrets are never returned.
      responses:
        "200":
          description: Webhooks list
          content:
            application/json:
              schema:
                type: object
                properties:
                  webhooks:
                    type: array
                    items:
                      $ref: "#/components/schemas/Webhook"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/webhooks/{id}:
    delete:
      tags: [Webhooks]
      operationId: webhooksDelete
      summary: Delete a webhook endpoint
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        "403":
          description: Not your webhook
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Webhook not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

# Outbound events mag3nt POSTs to your registered webhook endpoints.
webhooks:
  payment.settled:
    post:
      tags: [Webhooks]
      operationId: webhooksPaymentSettled
      summary: payment.settled event delivered to your endpoint
      description: |
        Sent when a pay link settles. Verify the `X-mag3nt-Signature` header
        (`t=<unix>,v1=<hmac-sha256(secret, "${t}.${rawBody}")>`) using your
        webhook secret before trusting the payload. Respond 2xx to acknowledge;
        non-2xx responses are retried with backoff. The `X-mag3nt-Event-Id`
        header is stable across retries for idempotency.

        Verify against the RAW request body (the exact bytes received), not a
        re-serialized object. Use a constant-time comparison and reject events
        whose timestamp is outside a tolerance window to block replays.

        TypeScript / Node:

        ```ts
        import { createHmac, timingSafeEqual } from "node:crypto";

        export function verifyReceipt(
          secret: string,
          rawBody: string,
          signatureHeader: string,
          toleranceSec = 300,
        ): boolean {
          const parts = Object.fromEntries(
            signatureHeader.split(",").map((kv) => {
              const i = kv.indexOf("=");
              return [kv.slice(0, i).trim(), kv.slice(i + 1).trim()];
            }),
          ) as Record<string, string>;
          const t = Number(parts.t);
          const v1 = parts.v1;
          if (!t || !v1) return false;
          if (Math.abs(Math.floor(Date.now() / 1000) - t) > toleranceSec) return false;
          const expected = createHmac("sha256", secret)
            .update(`${t}.${rawBody}`)
            .digest("hex");
          const a = Buffer.from(expected);
          const b = Buffer.from(v1);
          return a.length === b.length && timingSafeEqual(a, b);
        }
        ```

        Python:

        ```python
        import hmac, hashlib, time

        def verify_receipt(
            secret: str, raw_body: str, signature_header: str, tolerance_sec: int = 300
        ) -> bool:
            try:
                parts = dict(p.split("=", 1) for p in signature_header.split(","))
                t = int(parts["t"])
                v1 = parts["v1"]
            except (KeyError, ValueError):
                return False
            if abs(int(time.time()) - t) > tolerance_sec:
                return False
            expected = hmac.new(
                secret.encode(), f"{t}.{raw_body}".encode(), hashlib.sha256
            ).hexdigest()
            return hmac.compare_digest(expected, v1)
        ```
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentSettledEvent"
      responses:
        "200":
          description: Acknowledged

